




@-ms-veiwport{
    width: device-width;
}


body{
    background-color:white;
    font-family: lucida sans, serif;
    background-image: url(1536102545867.JPEG);
    background-position:center;
}
h1{
    font-family: vivaldi,sans-serif;
    font-size: 600%;
    text-shadow: 4px 2px 6px #eee;
    padding-bottom: 10px;  
    text-align: center;
  }

#wrapper{
   background-color:black;
    color: whitesmoke;
    opacity: .85;
}


main {
    padding: 5px;
    margin-left: 5px;
}

footer{
    font-size: 80%;
}